.socials {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.link-text {
  display: inline-block;
  margin-top: 0;
  margin-bottom: 22px;
  vertical-align: middle;
}

.socials img {
  padding-right: 12px;
}
