.section-intro {
  margin-top: 52px;
  margin-bottom: 14px;
}

.section-intro h2 {
  text-transform: uppercase;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
}
